<div id="footer" class="panel">
	<div class="panel-footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-4">
					&copy Yan Li 2023<br />
					School of Nursing<br />
					The Hong Kong Polytechnic University
				</div>
				<div class="col-sm-4">
					Contact:<br />
					<a href="mailto:yan-nursing.li@polyu.edu.hk" target="_blank"><i class="fa fa-envelope fa-1x"></i> Email</a> 
					<a href="https://github.com/skyhmt"><i class="fa fa-github fa-1x"></i> Github</a>
				</div>
				<div class="col-sm-4">
					Address: (<a href="https://goo.gl/maps/tJcQLv1TvUhQGQj58">Map</a>)<br />
					GH521, PolyU<br />
					11 Yuk Choi Rd, Hung Hom, Hong Kong
				</div>
			</div>
		</div>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ boyangli.com }}/js/bootstrap.min.js"></script>
